Flask
gunicorn
news-please
numpy
numpydoc
scikit-image
scikit-learn
scipy
Scrapy
SQLAlchemy
Flask-PyMongo
Flask-Script
Jinja2
MarkupSafe
Werkzeug
coverage
itsdangerous
nose
pymongo
Flask-WTF
Flask_Caching
Flask_SQLAlchemy
click
marshmallow
Flask_Bcrypt
flask_apispec
Flask
PyJWT
Flask-JWT-Extended
unicode_slugify
psycopg2
Flask-Migrate
gunicorn
Flask-Cors
unicodedata
os